@import-normalize; /* bring in normalize.css styles */
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-up {
  display: flex;
  width: inherit;
}

.pageContainer {
  color: #fff;
  width: inherit;

  padding: 10px 20px;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
}

.todoContainer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.navigation {
  width: 200px;
  color: #fff;
}

.navigation a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;

  height: 42px;
  font-size: medium;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);

  color: rgb(255, 255, 255);

  padding: 10px 30px;
  transition: all 250ms ease-out;
}

.navigation a:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  color: #fff;
}

.navigation > a.active {
  font-weight: 900;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.list {
  list-style: none;
  margin-top: 20px;
}

.item-input {
  margin-right: 20px;
}

.list-item {
  display: flex;
  align-items: center;
  margin-bottom: 2px;

  padding: 5px 15px;
  /* background-color: #23d5ab; */

  background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;

  color: #fff;
}

.item-input:checked + span {
  text-decoration: line-through;
}

.item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;

  font-family: sans-serif;
  background-color: rgba(209, 77, 54, 0.603);
  color: #fff;
}
